html, body {
  height: 100%; /* Zajistí, že html a body budou mít plnou výšku okna prohlížeče */
  margin: 0;
  padding: 0; /* Odstranění defaultního paddingu */
  overflow: hidden; /* Zabrání scrollování celé stránky */
}
